* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* Scrollbar style */
::-webkit-scrollbar-thumb {
    background-color: #004f70;
    border-radius: 5px;
}
body {
    font-family: "Poppins",sans-serif;
    overflow-x: hidden;
}
/* Header and navbar */
header {
    height: 4rem;
}
header .navigation {
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 1px #a8a8a8;
}
.navigation .navbar_logo {
    width: 14rem;
    margin-left: 8rem;
  }
.navbar_logo a {
    width: 100%;
}
.navbar_logo a img {
    width: 100%;
    height: 50px;
}
.navigation .navbar_links {
    text-align: right;
    width: 100%;
}
.navbar_links a {
    padding: 5rem;
    margin-right: 5rem;
    text-decoration: none;
    color: #4a4a4af1;
    font-size: 18px;
    padding: 6px;
    transition: all 0.4s ease;
}
.navbar_links a:hover {
    border-bottom: 4px solid #e4e11f;;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
/* End of Navbar */


/* Heading */
h2 {
    text-align: center;
    padding: 3rem;
    font-size: 40px;
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    color: #004f7c;
    font-weight: 600;
}

/* Content blocks */
.main_blocks {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.card {
    border: none; 
}
.col-sm-6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 20px 0.2px #cecece;
    transition: all 0.4s ease-out;
}
.col-sm-6:hover {
    box-shadow: 1px 4px 20px 0.2px #ababab;
}
.col-md-4 {
    padding: 0 2rem;
} 
.img-class {
    width: 20%;
    display: block;
} 
.col-md-4 a {
    height: 100%;
}
.col-md-8 {
    width: 100%;
}
.card-body {
    border-radius: 10px;
    padding-left: 2rem;
    width: 80%;
    background-image: linear-gradient(to left, #2cbada, #22ced0, #70ddc1, #92f399, #d2eb80);
}
.card-body h4 {
    font-size: 25px;
    color: #033d56;
    font-weight: medium;
    margin: 0;
}
.card-body .platform {
    /* background-color: green; */
    font-style: italic;
    font-size: 16px;
    color: #717171;
    margin-top: 0;
    margin-bottom: 0;
}
.card-body .type {
    font-size: 16px;
    color: #717171;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.card-body a {
    width: max-content;
    text-decoration: none;
    padding: .5rem .8rem;
    margin: 2rem;
    margin-left: 0;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    transition: all 0.4s ease;
    background-color: #45b7d1;
}
.card-body a:hover {
    color: #fff;
    background-color:#138f98;
}
/* End of content block */

/* Footer */
.footer {
    background-color: #046f93;
}
.footer .footer_inner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.foot_logo {
    width: 16%;
    height: 100px; 
}
.foot_logo img {
    width: 100%;
    height: 100%;
}
/* Footer page links */
.footer_inner .links_container {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding: 3rem 0;
}
.links_container .resources h4, .community_link h4 {
    font-family: 'Acme', sans-serif;
    font-weight: 2;
    font-size: 20px;
    padding: 1rem;
    padding-top: 0;
}
.links_container .links, .community_link .communities {
      padding: 1rem 1em;
      border-left: 2px solid rgb(59, 59, 59);
      display: flex;
      flex-direction: column;
      gap: .7rem;
}
.links a, .community_link a{
    text-decoration: none;
    color: rgb(41, 37, 37);
}
.links a:hover, .community_link a:hover{
    color: rgb(215, 214, 214);
    transition: color 0.3s ease;
}
  /* End of footer links */
  
/* Social div */
.social_div h4 {
    font-family: 'Acme',sans-serif;
    font-weight: 2;
    font-size: 20px;
    padding: 1rem;
    padding-top: 0;
}
.social_div .icon_links {
    padding: 1rem 1em;
    border-left: 2px solid rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.social_div .icon_links {
    text-decoration: none;
}
.icon_links a {
    width: 40px;
    height: 25px;
    color: #000;
}
.bx{
    width: 100%;
    height: 100%;
    font-size: 1.7em;
}
.bxl-facebook-circle:hover {
    color: #0000ff;
    transition: color 0.3s ease;
}
.bxl-instagram:hover{  background: -webkit-linear-gradient(50deg, rgba(205,205,64,1) 20%, rgba(208,41,9,1) 40%, rgb(146, 33, 175) 54%,  rgb(199, 106, 121) 80%, rgb(158, 38, 206) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    transition: color 0.3s ease;
}
.bxl-twitter:hover {
    color: #1c93e4;
    transition: color 0.3s ease; 
}
.bxl-github:hover {
    color: #fff;
    transition: color 0.3s ease;
}
/* End of social div*/
  
.copyright_div {
    text-align: center;
}
.copyright_div p {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
}
/* End of footer*/

/* Responsive Part */
@media (min-width: 280px)and (max-width:480px) {
    header .navigation {
        display:block;
        width: 100%;
        height: 100%;
        padding: .4rem 0;
    } 
    
    .navigation .navbar_logo {
        width:100%;
        margin: 0;
        margin-left:0; 
        display: flex !important;
        justify-content:center !important;
        align-items:center !important;
        padding: .8rem;
    }
    .navbar_logo img{
        width: 100%;
        height: 100%;
    }
    .navigation .navbar_links {
        display:none;
   }
 
    h2 {
        font-size:21px;
    }
    
    .card{
        width: 90% !important;
    }
 
    .col-sm-6{
        display: block !important;
    }
    .img-fluid{
        width: 100px !important;
        height: 100px !important;
        max-width:200px !important;
        object-fit: contain;
    }
    
    .card-body {
        border-left: none;
    }
    
    .col-md-4{
        width:100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .col-md-8{
        width: 100% !important;
        display: block !important;
    }
    
    .card-body a {
        font-size: 16px;
        margin: 2rem;
        margin-left: 0;
        /* margin-top: 4rem; */
        padding: .4rem;
        text-decoration: none;
        color: #fff;
        background-color: rgb(31, 157, 115);
        border-radius: 5px;
        width: 100%;
        display: block;
        text-align: center;
    }
    
}
    
 
 /* 481px and 848px */
 @media (min-width:481px)and (max-width:848px) {
    header .navigation {
        display:block;
        width: 100%;
        height: 100%;
    } 
    
    .navigation .navbar_logo {
        width:150px !important;
        margin: 0 auto;
        padding: 0.2rem;
        height:150px !important;
    }
    .navbar_logo img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .navigation .navbar_links {
        text-align: center;
    }
    .navigation .navbar_links {
        display:none;
    }
    .navbar_links a {
        padding:.8rem;
        margin-right: 0rem;
    }
    h2 {
        font-size:21px;
    }
    .card{
        width: 400px !important;
    }
    
    .col-sm-6{
        /* background-color:#ff6363; */
        display: block !important;
    }
    .img-fluid{
        width: 100px !important;
        height: 100px !important;
        max-width:200px !important;
        object-fit: contain;
    }
    
    .card-body {
        border-left: none;
    }
    
    .col-md-4{
        width:100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .col-md-8{
        width: 100% !important;
        display: block !important;
    }
    
    .card-body a {
        font-size: 16px;
        width:60%;
        text-align: center;
        margin:1.5rem;
        margin-left: 0;
        padding:.5rem;
    }
}