@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: 'Poppins',sans-serif;
    overflow: hidden;
}

/* Header and navbar */
header {
    height: 4rem;
}
header .navigation {
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 1px #a8a8a8;
}
.navigation .navbar_logo {
    /* width: 14rem; */
    margin-left:0;
  }
.navbar_logo a {
    width: 100%;
}
.navbar_logo a img {
    width: 100%;
    height: 50px;
    object-fit: contain;
}
.navigation .navbar_links {
    text-align: right;
    width: 100%;
}
.navbar_links a {
    padding: 5rem;
    margin-right: 5rem;
    text-decoration: none;
    color: #4a4a4af1;
    font-size: 18px;
    padding: 6px;
    transition: all 0.4s ease;
}
.navbar_links a:hover {
    border-bottom: 4px solid #e4e11f;;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
/* End of Navbar */

/* Backgroud image */
.bg-image {
    background-image: url("../images/bg-images/img.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
}

/* Reset-div */
.reset-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
}
.reset-div .wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    width: 25%;
    border-radius: 20px;
    box-shadow: 0px 1px 15px 2px #454545;
    margin-bottom: 5rem;
}
.reset-div .wrapper h3 {
    text-align: center;
    padding: .7rem 0;
    font-size: 30px;
    font-weight: 700;
    color: #033d56;
}
.reset-div .wrapper .reset {
    padding: 2rem 1rem;
    padding-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.3rem;
    width: 100%; 
    border-top: 2px solid #00545f;
}
.reset .input_container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    border-bottom: 4px solid #7a7a7a;
}
.input_container .input_pass {
    width: 100%;
}
#emailfield {
    background-color: #fff;
    border-bottom: 4px solid #7a7a7a;
}
input {
    padding: .7rem;
    background-color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    font-family: "Merriweather", sans-serif;
    font-size: 15px;
    flex: 1;
    line-height: 1.5;
}
input:focus {
    outline: none;
}
i {
    color: rgb(105, 105, 105);
    /* padding-left: .7rem; */
}

.login #passfield, #new_passfield {
    display: flex;
    flex-direction: column;
    height: 44px;
    background-color: #7a7a7a;
    margin-bottom: .7rem;
}
#passfield .input_pass #password , #new_password{
    width: 75%;
} 
button {
    margin-top: .7rem;
    padding: .7rem;
    width: 100%;
    font-weight: bold;
    border-radius: 9px;
    border: none;
    color: #fff;
    font-size: 20px;
    background-color: #45b7d1;
    transition: background-color 0.4s ease-out;
    cursor: pointer;
}
.submit_btn:hover {
    background-color:#138f98;
}


/* 280px to 480px */
@media (min-width:280px) and (max-width:480px){
    header {
        height:auto;
    }
    header .navigation{
        display:block;
    }
    .navbar_logo a img {
        object-fit: contain;
    }
    .navigation .navbar_logo{
        margin-left:0;
        width: 100%;
    }

    .navbar_links{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar_links a {

        margin-right:0;
    }

    .reset-div{
        display:block;
        width:280px;
        height:450px;
        left: 50%;
        transform: translate(-50%,-50%);
        top:60%;
    }

    .reset-div .wrapper{
        width: 95%;
        border-radius:0;
    }
   
}


/* 481px to 768px */
@media (min-width:481px) and (max-width:768px){
    header {
        height:auto;
    }
    header .navigation{
        display:block;
    }
    .navbar_logo a img {
        object-fit: contain;
    }
    .navigation .navbar_logo{
        margin-left:0;
        width: 100%;
    }

    .navbar_links{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar_links a {

        margin-right:0;
    }

    .reset-div{
        display:block;
        width:280px;
        height:450px;
        left: 50%;
        transform: translate(-50%,-50%);
        top:64%;
    }

    .reset-div .wrapper{
        width: 100%;
        border-radius: 0;
    }
   

    
}

/* 769px to 1024px */
@media (min-width:769px) and (max-width:1024px){
    header {
        height:auto;
    }
    /* header .navigation{
        display:block;
    } */
    .navbar_logo a img {
        object-fit: contain;
    }
    .navigation .navbar_logo{
        margin-left:0;
        width: 100%;
    }

    .navbar_links{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar_links a {

        margin-right:0;
    }

    .reset-div{
        display: block;
        width:350px;
        height:450px;
        left: 50%;
        transform: translate(-50%,-50%);
        top:60%;
    }

    .reset-div .wrapper{
        width:100%;
        border-radius: 0;
    }
   
}



/* 1025px to 1200px */
@media (min-width:1025px) and (max-width:1200px){
    header {
        height:auto;
    }
    /* header .navigation{
        display:block;
    } */
    .navbar_logo a img {
        object-fit: contain;
    }
    .navigation .navbar_logo{
        margin-left:0;
        width: 100%;
    }

    .navbar_links{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar_links a {

        margin-right:0;
    }

    .reset-div{
        display:block;
        width:350px;
        height:650px;
        left: 50%;
        transform: translate(-50%,-50%);
        top:70%;
    }

    .reset-div .wrapper{
        width:100%;
        border-radius: 0;
    }
    
}
